.App{
    display: grid;
    margin: 200px auto;
    align-items: center;
    justify-items: center;
    width: 400px;
    height: 420px;
    border: 5px solid cadetblue;
    border-radius: 20px;
    grid-template-areas:
    "counter"
    "btns";
    grid-template-rows: 2fr 1fr;
    grid-gap: 20px;
}

.buttons{
    grid-area: btns;
    display: flex;
    margin-bottom: 20px;
    padding: 40px;
    width: 260px;
    height: 40px;
    border: 5px solid cadetblue;
    border-radius: 20px;
}

.counter{
    grid-area: counter;
    font-size: 90px;
    width: 340px;
    height: 200px;
    border: 5px solid cadetblue;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    background-color: cadetblue;
}

.buttons button{
    height: 50px;
    width: 120px;
    border: 2px solid cadetblue;
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    background-color: cadetblue;

}

button:disabled{
    opacity: 0.5;
}